Package: net.mrbom.package
Name: mrbom
Version: 1.0
Architecture: iphoneos-arm
Description: đang test bởi thế anh!
Depiction: http://mrbomst92.github.io
Homepage: http://mrbomst92.github.io
Maintainer: Jesse Bryan <winneonsword@gmail.com>
Author: Jesse Bryan <winneonsword@gmail.com>
Section: Themes
